In [92]:
import pandas as pd
import numpy as np

In [93]:
Begin_Inventory=pd.read_csv(r"C:\Users\GURU PRAVEEN REDDY J\Desktop\Datasets\Vendor Data Project Datasets\data\begin_inventory.csv")

In [94]:
Begin_Inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206529 entries, 0 to 206528
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InventoryId  206529 non-null  object
 1   Store        206529 non-null  int64
 2   City         206529 non-null  object
 3   Brand        206529 non-null  int64
 4   Description  206529 non-null  object
 5   Size         206529 non-null  object
 6   onHand       206529 non-null  int64
 7   Price        206529 non-null  float64
 8   startDate    206529 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 14.2+ MB

In [95]:
Begin_Inventory.isnull().sum()

InventoryId    0
Store          0
City           0
Brand          0
Description    0
Size           0
onHand         0
Price          0
startDate      0
dtype: int64

In [96]:
### In the bgin inventory there was no nulls in any columns

In [97]:
Begin_Inventory.sample(5)

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
143559,59_CLAETHORPES_44911,59,CLAETHORPES,44911,Spy Valley Svgn Bl Marlboro,750mL,11,17.99,2024-01-01
137801,57_LANTEGLOS_540,57,LANTEGLOS,540,Bacardi Pineapple Fusion,50mL,61,0.99,2024-01-01
172497,69_MOUNTMEND_1038,69,MOUNTMEND,1038,1800 Silver w/ Shot Glasses,750mL,0,21.99,2024-01-01
130462,54_GUTHRAM_35664,54,GUTHRAM,35664,Redwood Creek Cab Svgn Cal,1.5L,49,9.99,2024-01-01
78884,34_PITMERDEN_2591,34,PITMERDEN,2591,Cardhu Scotch,750mL,10,39.99,2024-01-01

In [98]:
### After exploing all vendor performnace related datasets, i am not using all columns except on hand qty details in the final EDA part.
### However will check the data quality of each column and clean it.

In [99]:
Begin_Inventory["InventoryId"].nunique() ### all are unique there are no duplicates in the data

206529

In [100]:
Begin_Inventory[Begin_Inventory["InventoryId"].str.strip()!=Begin_Inventory["InventoryId"]] ### There are no whitespaces in the the column

Empty DataFrame
Columns: [InventoryId, Store, City, Brand, Description, Size, onHand, Price, startDate]
Index: []

In [101]:
Begin_Inventory["City"].unique() ### all unique cities

array(['HARDERSFIELD', 'ASHBORNE', 'HORNSEY', 'EANVERNESS', 'SUTTON',
       'GOULCREST', 'STANMORE', 'ALNERWICK', 'BLACKPOOL', 'CARDEND',
       'LEESIDE', 'TARMSWORTH', 'BROMWICH', 'WANBORNE', 'LUNDY', 'OLDHAM',
       'FURNESS', 'WINTERVALE', 'BREDWARDINE', 'BALERNO', 'SHARNWICK',
       'ARBINGTON', 'PALPERROTH', 'CAERSHIRE', "KNIFE'S EDGE",
       'MOUNTMEND', 'LARNWICK', 'AYLESBURY', 'CULCHETH', 'PITMERDEN',
       'HALIVAARA', 'LEWES', 'PAETHSMOUTH', 'EASTHALLOW', 'BULLMAR',
       'BLACK HOLLOW', 'WOLFORD', 'PORTHCRAWL', 'VERITAS', 'TYWARDREATH',
       "PELLA'S WISH", 'NORFOLK', 'GARIGILL', 'ABERDEEN', 'GRAYCOTT',
       'HILLFAR', 'GUTHRAM', 'DRY GULCH', "BEGGAR'S HOLE", 'LANTEGLOS',
       'HARTLEPOOL', 'CLAETHORPES', 'IRRAGIN', 'AETHELNEY', 'KILMARNOCK',
       'SWORDBREAK', 'CESTERFIELD', 'LUTON', 'SOLARIS', 'KELD',
       'CLARCTON', 'DONCASTER', 'PAENTMARWY', 'BARNCOMBE', 'TAMWORTH',
       'EASTHAVEN', 'BALLYMENA'], dtype=object)

In [102]:
Begin_Inventory["Brand"].nunique()

8094

In [103]:
Begin_Inventory["Size"].unique()

array(['750mL', 'Liter', '1.75L', '50mL', '375mL', '50mL 4 Pk',
       '375mL 2 Pk', '750mL 3 Pk', '375mL 3 Pk', '750mL + 3/',
       '200mL 3 Pk', '50mL 3 Pk', '100mL 4 Pk', '100mL', '50mL 5 Pk',
       '200mL 4 Pk', '250mL 4 Pk', '750mL 2 Pk', '200mL', '3/100mL',
       '1.5L', '5L', '4L', '187mL 4 Pk', '3L', '5.0 Oz', '187mL', '500mL',
       '187mL 3 Pk', '300mL', '50mL 12 Pk', '330mL', '250mL', '18L',
       '750mL + 2/', '180mL', '720mL', '22.0 Oz', '6L', '20L',
       '750mL + 4/'], dtype=object)

In [104]:
conversion_dict = {
    '750mL': '750', 'Liter': '1000', '1.75L': '1750', '50mL': '50',
    '375mL': '375', '50mL 4 Pk': '200', '375mL 2 Pk': '750',
    '750mL 3 Pk': '2250', '375mL 3 Pk': '1125', '750mL + 3/': '900',
    '200mL 3 Pk': '600', '50mL 3 Pk': '150', '100mL 4 Pk': '400',
    '100mL': '100', '50mL 5 Pk': '250', '200mL 4 Pk': '800',
    '250mL 4 Pk': '1000', '750mL 2 Pk': '1500', '200mL': '200',
    '3/100mL': '300', '1.5L': '1500', '5L': '5000', '4L': '4000',
    '187mL 4 Pk': '748', '3L': '3000', '5.0 Oz': '147.87',
    '187mL': '187', '500mL': '500', '187mL 3 Pk': '561',
    '300mL': '300', '50mL 12 Pk': '600', '330mL': '330',
    '250mL': '250', '18L': '18000', '750mL + 2/': '850',
    '180mL': '180', '720mL': '720', '22.0 Oz': '650.62',
    '6L': '6000', '20L': '20000', '750mL + 4/': '950'
}

In [105]:
Begin_Inventory["Size"]=Begin_Inventory["Size"].replace(conversion_dict)

In [106]:
Begin_Inventory.rename(columns={"Size":"Size in ml"},inplace=True)

In [107]:
Begin_Inventory["Size in ml"]=Begin_Inventory["Size in ml"].astype(dtype="float")

In [108]:
Begin_Inventory["startDate"]=pd.to_datetime(Begin_Inventory["startDate"])

In [109]:
Begin_Inventory["startDate"]=Begin_Inventory["startDate"].dt.date

In [110]:
Begin_Inventory.describe()

,Store,Brand,Size in ml,onHand,Price
count,206529.000000,206529.000000,206529.000000,206529.000000,206529.000000
mean,42.122457,13761.482320,918.302031,20.429455,22.253910
std,23.191393,13059.429355,601.747825,31.467342,70.178964
min,1.000000,58.000000,50.000000,0.000000,0.000000
25%,22.000000,3746.000000,750.000000,7.000000,9.990000
50%,42.000000,8010.000000,750.000000,12.000000,14.990000
75%,64.000000,22143.000000,750.000000,21.000000,21.990000
max,79.000000,90090.000000,20000.000000,1251.000000,13999.900000

In [111]:
Begin_Inventory.to_csv(r"C:\Users\GURU PRAVEEN REDDY J\Desktop\Datasets\Vendor Data Project Datasets\data\Cleaned Datasets\Begin_Inventory.csv",index=False)

In [112]:
Begin_Inventory

,InventoryId,Store,City,Brand,Description,Size in ml,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750.0,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750.0,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750.0,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750.0,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750.0,6,34.99,2024-01-01
...,...,...,...,...,...,...,...,...,...
206524,79_BALLYMENA_46985,79,BALLYMENA,46985,Rodney Strong Cab Svgn Alexa,750.0,13,22.99,2024-01-01
206525,79_BALLYMENA_47014,79,BALLYMENA,47014,Juan Gil Jumilla Rd,750.0,13,13.99,2024-01-01
206526,79_BALLYMENA_47090,79,BALLYMENA,47090,Napa Cellars Cab Svgn Napa,750.0,19,23.99,2024-01-01
206527,79_BALLYMENA_90011,79,BALLYMENA,90011,Ch Pichon Longville 12 Pauil,750.0,12,144.99,2024-01-01
206528,79_BALLYMENA_90089,79,BALLYMENA,90089,Ch Lynch Bages 12 Pauillac,750.0,24,119.99,2024-01-01