In [64]:
import pandas as pd
import numpy as np

In [65]:
End_Inventory=pd.read_csv(r"C:\Users\GURU PRAVEEN REDDY J\Desktop\Datasets\Vendor Data Project Datasets\data\end_inventory.csv")

In [66]:
End_Inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224489 entries, 0 to 224488
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InventoryId  224489 non-null  object
 1   Store        224489 non-null  int64
 2   City         223205 non-null  object
 3   Brand        224489 non-null  int64
 4   Description  224489 non-null  object
 5   Size         224489 non-null  object
 6   onHand       224489 non-null  int64
 7   Price        224489 non-null  float64
 8   endDate      224489 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 15.4+ MB

In [67]:
End_Inventory.isnull().sum()

InventoryId       0
Store             0
City           1284
Brand             0
Description       0
Size              0
onHand            0
Price             0
endDate           0
dtype: int64

In [68]:
### first i am gonna check how much data will losse after dropping nan values from city

In [69]:
(1284)*100/End_Inventory.shape[0]

0.5719656642419005

In [70]:
def to_get_nan_dropping_percent(df):
    total_rows_before_dropping_nan=df.shape[0]
    total_rows_after_dropping_nan=df.dropna().shape[0]
    result=round(total_rows_after_dropping_nan*100/total_rows_before_dropping_nan,2)
    return str(round(100-result,2))+"%"
dropping_percent=to_get_nan_dropping_percent(End_Inventory)
print(dropping_percent)

0.57%

In [71]:
### i am gonna loose only 0.57% of the data but i am not gonna drop nan values from the data becasue, i am not connecting city column to any other dataset in final EDA

In [72]:
End_Inventory.sample(10)

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
52035,22_SHARNWICK_7254,22,SHARNWICK,7254,Cribari Marsala,750mL,15,7.99,2024-12-31
112894,45_VERITAS_3580,45,VERITAS,3580,Smirnoff Orange Vodka,750mL,16,12.99,2024-12-31
9793,5_SUTTON_4938,5,SUTTON,4938,Kapali Coffee,750mL,13,8.99,2024-12-31
46544,20_BREDWARDINE_8102,20,BREDWARDINE,8102,Absolut Mandrin,1.75L,27,24.99,2024-12-31
146275,56_BEGGAR'S HOLE_24874,56,BEGGAR'S HOLE,24874,Benziger Merlot,750mL,14,11.99,2024-12-31
57026,23_ARBINGTON_34850,23,ARBINGTON,34850,Bargetto Chaucer's Hney Mead,750mL,3,12.99,2024-12-31
11400,6_GOULCREST_3726,6,GOULCREST,3726,Gilbeys Vodka Traveler,750mL,21,4.99,2024-12-31
42439,18_FURNESS_41546,18,FURNESS,41546,Monkey Bay Svgn Bl,750mL,12,7.99,2024-12-31
26629,11_CARDEND_5367,11,CARDEND,5367,Sambuca di Amore,750mL,10,9.99,2024-12-31
137334,54_GUTHRAM_5090,54,GUTHRAM,5090,El Charro Silver Tequila,750mL,3,12.99,2024-12-31

In [73]:
End_Inventory[End_Inventory["InventoryId"].str.strip()!=End_Inventory["InventoryId"]] ### There are no whitespaces in the the column

Empty DataFrame
Columns: [InventoryId, Store, City, Brand, Description, Size, onHand, Price, endDate]
Index: []

In [74]:
End_Inventory["City"].unique()

array(['HARDERSFIELD', 'ASHBORNE', 'HORNSEY', 'EANVERNESS', 'SUTTON',
       'GOULCREST', 'STANMORE', 'ALNERWICK', 'BLACKPOOL', 'CARDEND',
       'LEESIDE', 'TARMSWORTH', 'BROMWICH', 'WANBORNE', 'LUNDY', 'OLDHAM',
       'FURNESS', 'WINTERVALE', 'BREDWARDINE', 'BALERNO', 'SHARNWICK',
       'ARBINGTON', 'PALPERROTH', 'CAERSHIRE', "KNIFE'S EDGE",
       'MOUNTMEND', 'LARNWICK', 'AYLESBURY', 'CULCHETH', 'PITMERDEN',
       'HALIVAARA', 'LEWES', 'PAETHSMOUTH', 'EASTHALLOW', 'BULLMAR',
       'BLACK HOLLOW', 'WOLFORD', 'PORTHCRAWL', 'VERITAS', nan,
       "PELLA'S WISH", 'NORFOLK', 'GARIGILL', 'ABERDEEN', 'GRAYCOTT',
       'HILLFAR', 'GUTHRAM', 'DRY GULCH', "BEGGAR'S HOLE", 'LANTEGLOS',
       'HARTLEPOOL', 'CLAETHORPES', 'IRRAGIN', 'AETHELNEY', 'KILMARNOCK',
       'SWORDBREAK', 'CESTERFIELD', 'LUTON', 'SOLARIS', 'KELD',
       'CLARCTON', 'DONCASTER', 'PAENTMARWY', 'BARNCOMBE', 'TAMWORTH',
       'EASTHAVEN', 'BALLYMENA', 'PEMBROKE'], dtype=object)

In [75]:
End_Inventory["Brand"].nunique()

9653

In [76]:
End_Inventory["Size"].unique()

array(['750mL', 'Liter', '750mL + 2/', '1.75L', '50mL', '375mL',
       '50mL 4 Pk', '200mL 3 Pk', '50mL 3 Pk', '750mL + 3/', '375mL 2 Pk',
       '100mL 4 Pk', '250mL', '100mL', '50mL 5 Pk', '3/100mL',
       '200mL 4 Pk', '250mL 4 Pk', '200mL', '1.5L', '5L', '4L',
       '187mL 4 Pk', '3L', '5.0 Oz', '187mL 3 Pk', '187mL', '500mL',
       '750mL 3 Pk', '400mL', '300mL', '330mL', '18L', '750mL 2 Pk',
       '5/2 oz', '720mL', '375mL 3 Pk', '750mL + 1/', '180mL',
       '200mL 5 Pk', '6L', '187mL 2 Pk', '750mL 4 Pk', '750mL 6 Pk',
       '750mL + 4/', '25.0', '128.0 Gal'], dtype=object)

In [77]:
conversion_dict = {
    '750mL': '750','Liter': '1000','750mL + 2/': '850', '1.75L': '1750','50mL': '50',
    '375mL': '375','50mL 4 Pk': '200','200mL 3 Pk': '600','50mL 3 Pk': '150','750mL + 3/': '900','375mL 2 Pk': '750',
    '100mL 4 Pk': '400','250mL': '250','100mL': '100','50mL 5 Pk': '250','3/100mL': '300',
     '200mL 4 Pk': '800','250mL 4 Pk': '1000','200mL': '200','1.5L': '1500','5L': '5000','4L': '4000','187mL 4 Pk': '748',
    '3L': '3000','5.0 Oz': '147.87','187mL 3 Pk': '561','187mL': '187','500mL': '500','750mL 3 Pk': '2250',
    '400mL': '400','300mL': '300','330mL': '330','18L': '18000','750mL 2 Pk': '1500',
    '5/2 oz': '74',         # 5 ÷ 2 × 29.5735 ≈ 73.93
    '720mL': '720','375mL 3 Pk': '1125','750mL + 1/': '800','180mL': '180',
    '200mL 5 Pk': '1000','6L': '6000','187mL 2 Pk': '374','750mL 4 Pk': '3000',
    '750mL 6 Pk': '4500','750mL + 4/': '950','25.0': '25.0','128.0 Gal': '484531'   # 128 × 3785.41
}

In [78]:
End_Inventory["Size"]=End_Inventory["Size"].replace(conversion_dict)

In [79]:
End_Inventory.rename(columns={"Size":"Size in ml"},inplace=True)

In [80]:
End_Inventory["Size in ml"]=End_Inventory["Size in ml"].astype(dtype="float")

In [81]:
End_Inventory["startDate"]=pd.to_datetime(End_Inventory["endDate"])

In [82]:
End_Inventory["startDate"]=End_Inventory["startDate"].dt.date

In [83]:
End_Inventory.describe()

,Store,Brand,Size in ml,onHand,Price
count,224489.000000,224489.000000,224489.00000,224489.000000,224489.000000
mean,43.505740,14356.370513,911.81584,21.763988,23.585583
std,23.326415,13118.467851,1183.91908,37.233576,79.202775
min,1.000000,58.000000,25.00000,0.000000,0.490000
25%,23.000000,3798.000000,750.00000,7.000000,9.990000
50%,44.000000,8259.000000,750.00000,12.000000,14.990000
75%,66.000000,23965.000000,750.00000,22.000000,23.490000
max,81.000000,90631.000000,484531.00000,3676.000000,13999.900000

In [84]:
End_Inventory.to_csv(r"C:\Users\GURU PRAVEEN REDDY J\Desktop\Datasets\Vendor Data Project Datasets\data\Cleaned Datasets\End_Inventory.csv",index=False)

In [85]:
End_Inventory

,InventoryId,Store,City,Brand,Description,Size in ml,onHand,Price,endDate,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750.0,11,12.99,2024-12-31,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750.0,7,36.99,2024-12-31,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750.0,7,38.99,2024-12-31,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750.0,4,34.99,2024-12-31,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750.0,7,14.99,2024-12-31,2024-12-31
...,...,...,...,...,...,...,...,...,...,...
224484,81_PEMBROKE_90087,81,PEMBROKE,90087,Ch Mouton Rothschild 12 Paui,750.0,3,469.99,2024-12-31,2024-12-31
224485,81_PEMBROKE_90088,81,PEMBROKE,90088,Ch Le Petite Mouton 12 Pauil,750.0,3,134.99,2024-12-31,2024-12-31
224486,81_PEMBROKE_90089,81,PEMBROKE,90089,Ch Lynch Bages 12 Pauillac,750.0,3,119.99,2024-12-31,2024-12-31
224487,81_PEMBROKE_90090,81,PEMBROKE,90090,Ch Lafite Rothschild 12,750.0,3,649.99,2024-12-31,2024-12-31
224488,81_PEMBROKE_90604,81,PEMBROKE,90604,Ch Lynch Bages Pauilac,750.0,2,119.99,2024-12-31,2024-12-31