In [1]:
import pandas as pd
import numpy as np

In [2]:
Purchase_price_info=pd.read_csv(r"C:\Users\GURU PRAVEEN REDDY J\Desktop\Datasets\Vendor Data Project Datasets\data\purchase_prices.csv")

In [3]:
Purchase_price_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12261 entries, 0 to 12260
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           12261 non-null  int64
 1   Description     12260 non-null  object
 2   Price           12261 non-null  float64
 3   Size            12260 non-null  object
 4   Volume          12260 non-null  object
 5   Classification  12261 non-null  int64
 6   PurchasePrice   12261 non-null  float64
 7   VendorNumber    12261 non-null  int64
 8   VendorName      12261 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 862.2+ KB

In [4]:
Purchase_price_info.sample(5)

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
11488,26204,Dom de La Foret 15 Rose,14.99,750mL,750,2,9.99,7153,PINE STATE TRADING CO
10546,1079,Weller Antique -Hanover Chop,22.99,750mL,750,1,18.39,8004,SAZERAC CO INC
8002,18831,Line 39 Merlot,9.99,750mL,750,2,5.26,7153,PINE STATE TRADING CO
57,605,Alate Kosher Wine,16.99,750mL,750,2,9.67,10754,PERFECTA WINES
6278,20963,Stags Leap Hands of Time Chr,16.99,750mL,750,2,10.96,8673,STE MICHELLE WINE ESTATES

In [5]:
Purchase_price_info.drop(columns=["Classification"],inplace=True)

In [6]:
Purchase_price_info["Brand"].nunique()

12261

In [7]:
### in this data we can understand by this all brandas are unique its pirce and description details in the dataset

In [8]:
Purchase_price_info.isnull().sum()

Brand            0
Description      1
Price            0
Size             1
Volume           1
PurchasePrice    0
VendorNumber     0
VendorName       0
dtype: int64

In [9]:
Purchase_price_info[Purchase_price_info["Description"].str.strip()!=Purchase_price_info["Description"]]

,Brand,Description,Price,Size,Volume,PurchasePrice,VendorNumber,VendorName
7915,4202,NaN,0.0,NaN,NaN,11.19,480,BACARDI USA INC

In [10]:
Purchase_price_info.dropna(inplace=True) ### i ahev dropped nan values from dataset and i have only one row which have nan values

In [11]:
Purchase_price_info[Purchase_price_info["Description"].str.strip()!=Purchase_price_info["Description"]]

Empty DataFrame
Columns: [Brand, Description, Price, Size, Volume, PurchasePrice, VendorNumber, VendorName]
Index: []

In [12]:
Purchase_price_info[(Purchase_price_info["Price"]==0) | (Purchase_price_info["Price"]<0)]

,Brand,Description,Price,Size,Volume,PurchasePrice,VendorNumber,VendorName
10803,2166,The Macallan Double Cask 12,0.0,750mL,750,0.0,2561,EDRINGTON AMERICAS

In [13]:
Purchase_price_info.drop(index=Purchase_price_info[(Purchase_price_info["Price"]==0) | (Purchase_price_info["Price"]<0)].index,inplace=True)
### i have dropped all brands which has price 0 or less than 0

In [14]:
Purchase_price_info[(Purchase_price_info["Price"]==0) | (Purchase_price_info["Price"]<0)]

Empty DataFrame
Columns: [Brand, Description, Price, Size, Volume, PurchasePrice, VendorNumber, VendorName]
Index: []

In [15]:
Purchase_price_info[Purchase_price_info["VendorName"]!=Purchase_price_info["VendorName"].str.strip()]

,Brand,Description,Price,Size,Volume,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,10.94,7245,PROXIMO SPIRITS INC.
...,...,...,...,...,...,...,...,...
12255,43023,Ceretto Barolo,39.99,750mL,750,26.66,2000,SOUTHERN WINE & SPIRITS NE
12256,44917,Ferreira 10-Yr Tawny Port,24.99,750mL,750,16.55,90024,VINILANDIA USA
12258,45016,Neal One Lane Bridg Cab Svgn,93.99,750mL,750,61.43,10754,PERFECTA WINES
12259,46011,Folonari Pnt Nr Venezie,12.99,1500ml,1500,8.90,9744,FREDERICK WILDMAN & SONS
12260,46964,Calera Viognier Mt Harlan,35.99,750mL,750,24.32,10754,PERFECTA WINES

In [16]:
### In Vendroname column there are whitespace in the name... I am gonna drop using str.strip() function

In [17]:
Purchase_price_info["VendorName"]=Purchase_price_info["VendorName"].str.strip()

In [18]:
Purchase_price_info[Purchase_price_info["VendorName"]!=Purchase_price_info["VendorName"].str.strip()]

Empty DataFrame
Columns: [Brand, Description, Price, Size, Volume, PurchasePrice, VendorNumber, VendorName]
Index: []

### Final Data

In [19]:
Purchase_price_info.head(5)

,Brand,Description,Price,Size,Volume,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,10.94,7245,PROXIMO SPIRITS INC.

In [20]:
Purchase_price_info.isnull().sum()

Brand            0
Description      0
Price            0
Size             0
Volume           0
PurchasePrice    0
VendorNumber     0
VendorName       0
dtype: int64

In [21]:
Purchase_price_info.describe()

              Brand         Price  PurchasePrice   VendorNumber
count  12259.000000  12259.000000   12259.000000   12259.000000
mean   17991.482503     38.646544      26.491628   10816.378090
std    12528.091288    206.167398     156.195445   19008.857456
min       58.000000      0.490000       0.350000       2.000000
25%     5997.500000     10.990000       6.890000    3960.000000
50%    18790.000000     15.990000      10.650000    7153.000000
75%    25117.500000     29.990000      20.130000    9552.000000
max    90631.000000  13999.900000   11111.030000  173357.000000

In [22]:
Purchase_price_info.to_csv(r"C:\Users\GURU PRAVEEN REDDY J\Desktop\Datasets\Vendor Data Project Datasets\data\Cleaned Datasets\Purchase_price_info.csv",index=False)